@using HR_Portal.Models;
@{
    ViewData["Title"] = "Info";
}
<form asp-action="ChangeStatus">
    @if(ViewBag.Result is not null)
            foreach(var obj in ViewBag.Result){
    <div class="border border-secondary rounded p-3 mt-4">
        <h2 class="text-white"><i class="bi bi-box"></i> Request Info</h2>
        <br />
        <input  class="input2" name="id" value="@obj.RequestId" hidden/> 
        <input class="input2" value=1 name="status" id="reqStatus" hidden/>
        <div class="mb-3">
            <label class="label-gray"><i class="bi bi-123"></i> Request ID</label>
            <input  class="input2" value="@obj.RequestId" disabled/>
        </div>
        <div class="mb-3">
            <label class="label-gray"><i class="bi bi-fonts"></i> Request Type</label>
            <input  class="input2"  value="@obj.RequestName" disabled/>
        </div>
        <div class="mb-3">
            <label class="label-gray"><i class="bi bi-info-square"></i> Status</label>
            <input  class="input2"  value="@obj.StatusName" disabled/>
        </div>
        <div class="mb-3">
            <label class="label-gray"><i class="bi bi-folder-plus"></i> Additional Information</label>
            <textarea rows="7" class="input2" disabled>@obj.Description</textarea>
        </div>
        <div class="mb-3">
            <label class="label-gray"><i class="bi bi-calendar-date"></i> Creation Date</label>
            <input  class="input2"  value="@obj.CreationDate" disabled/>
        </div>
                @if (ViewData["Manager"].Equals("true"))
                {
                    <a class="btn btn-success" onclick="accept()" style="width:150px">Accept</a>
                    <a class="btn btn-danger" onclick="reject()" style="width:150px">Reject</a>
                    <a asp-controller="Request" asp-action="Manager" class="btn btn-primary" style="width:150px">Back to list</a>
                    <button type="submit" id="submit" hidden></button>
                }
                else
                {
                    <a asp-controller="Request" asp-action="Index" class="btn btn-primary" style="width:150px">Back to list</a>
                }
      </div>
    }
</form>
@section Scripts{
    <script type="text/javascript">
        var status = document.getElementById("reqStatus");
        var submit = document.getElementById("submit");
        function accept(){
            document.getElementById("reqStatus").value = 4;
            submit.click();
        }
        function reject(){
            document.getElementById("reqStatus").value = 3;
            submit.click();
        }
    </script>
}
