@using HR_Portal.Models;
@model IEnumerable<Request>
@{
    ViewData["Title"] = "Manager";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-white">Manager Panel</h1>
        </div>
    </div>
</div>


    @if (ViewBag.Users is not null)
    {
      <div class="row">
        @foreach (var obj in ViewBag.Users)
         {
            <div class="row col-lg-4 d-block">
                <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="bi bi-person-bounding-box"></i> Employee</div>
                    <div class="card-body">
                        <div class="row">
                        <h1 class="card-title col-2 mb-4"><i class="bi bi-person-circle"></i> </h1><h4 class="col-8 mb-4"> @obj.FirstName @obj.LastName</h4>
                        </div>
                        <p class="card-text">@obj.PositionName</p>

                        <div class="accordion-item bg-secondary">
                            <h5 class="accordion-header" id="heading-@obj.UserId">
                                <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#colapse-@obj.UserId" aria-expanded="false" aria-controls="colapse-@obj.UserId">
                                    Vacation Days:
                                </button>
                            </h5>
                            <div id="colapse-@obj.UserId" class="accordion-collapse collapse bg-secondary" aria-labelledby="heading-@obj.UserId" data-bs-parent="#accordionID">
                                <div class="accordion-body">
                                    <strong>@obj.VacationDays</strong>
                                 </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-secondary">
                            <h5 class="accordion-header" id="heading-@obj.UserId-1">
                                <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#colapse-@obj.UserId-1" aria-expanded="false" aria-controls="colapse-@obj.UserId-1">
                                    Base Salary:
                                </button>
                            </h5>
                            <div id="colapse-@obj.UserId-1" class="accordion-collapse collapse bg-secondary" aria-labelledby="heading-@obj.UserId-1" data-bs-parent="#accordionID">
                                <div class="accordion-body">
                                    <strong>@obj.BaseSalary</strong>
                                 </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-secondary">
                            <h5 class="accordion-header" id="heading-@obj.UserId-2">
                                <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#colapse-@obj.UserId-2" aria-expanded="false" aria-controls="colapse-@obj.UserId-2">
                                    Salary Bonus:
                                </button>
                            </h5>
                            <div id="colapse-@obj.UserId-2" class="accordion-collapse collapse bg-secondary" aria-labelledby="heading-@obj.UserId-1" data-bs-parent="#accordionID">
                                <div class="accordion-body row">
                                    <strong class="col-sm">@obj.SalaryBonus</strong>
                                    <input type="button" onclick="show()" class="btn btn-primary col-sm justify-content-end" value="Update">
                                 </div>
                                    <form asp-action="ChangeBonus" id="ChangeBonus" style="display:none">
                                        <input name="id" value="@obj.UserId" hidden>
                                        <input class="input2" type="number" name="newBonus">
                                        <button class="btn btn-success" type="submit">Accept</button>
                                    </form>
                                 
                            </div>
                        </div>
                     </div>
                </div>
            </div>
         
            }
            </div>
            @if (ViewBag.Requests is not null)
            {   
                <h4 class="text-white mb-4 mt-3">Requests to Approve by Manager</h4>
               <table class="table table-bordered table-stripped user-table" style="width:100%">
                   <thead>
                       <tr class="table-dark">
                           <th>ID</th>
                           <th>Type</th>
                           <th>Requestor</th>
                           <th>Creation Date</th>
                           <th></th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach (var obj in ViewBag.Requests)
                       {
                           <tr class="table-primary">
                                   <td>
                                       @obj.RequestId
                                   </td>
                                   <td>
                                       @obj.RequestName
                                   </td>
                                   <td>
                                       @obj.FirstName @obj.LastName
                                   </td>
                                   <td>
                                       @obj.CreationDate
                                   </td>
                                   <td>
                                       <a asp-controller="Request" asp-action="Info" asp-route-id="@obj.RequestId" class="btn btn-sm btn-primary"> <i class="bi bi-info-square"></i> Info</a>
                                   </td>
                               </tr>
                           }
                       </tbody>
                   </table>
              }
              @if (ViewBag.Trainings is not null)
            {   
                <h4 class="text-white mb-4 mt-3">Trainings to Approve by Manager</h4>
               <table class="table table-bordered table-stripped user-table" style="width:100%">
                   <thead>
                       <tr class="table-dark">
                           <th>Name</th>
                           <th>Type</th>
                           <th>Requestor</th>
                           <th>Cost</th>
                           <th></th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach (var obj in ViewBag.Trainings)
                       {
                           <tr class="table-primary">
                                   <td>
                                       @obj.TrainingName
                                   </td>
                                   <td>
                                       @obj.TrainingType
                                   </td>
                                   <td>
                                       @obj.FirstName @obj.LastName
                                   </td>
                                   <td>
                                       @obj.Cost
                                   </td>
                                   <td>
                                       <form asp-action="AcceptTraining">
                                           <input name="id" value="@obj.DestinationId" hidden>
                                           <input type="submit" value="Accept" class="btn btn-sm btn-success">
                                       </form>
                                       <form asp-action="RejectTraining">
                                           <input name="id" value="@obj.DestinationId" hidden>
                                           <input type="submit" value="Reject" class="btn btn-sm btn-danger">
                                       </form>
                                   </td>
                               </tr>
                           }
                       </tbody>
                   </table>
              }
        }
        else
        {
            <h4 class="text-warning">Sorry, you don't have any employees!</h4>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:150px">Back to Menu</a>
        }

        <script>
            function show(){
                if(document.getElementById("ChangeBonus").style.display == "none")
                    document.getElementById("ChangeBonus").style.display = "block";
                else
                    document.getElementById("ChangeBonus").style.display = "none"
            }
        </script>
    


